:root {
  --dark-background: #2f4550;
  --dark-text: #f9f8f8;
  --light-background: #eddcd2;
  --light-text: #292929;
}

/* 

body {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

body.light {
  background-color: var(--light-background) !important;
  color: var(--light-text) !important;
}


body.dark {
  background-color: var(--dark-background) !important;
  color: var(--dark-text) !important;
} */
